$black: #000000;
$white: #ffffff;
$chillipepper: #9B2335;
$emerald: #009B77;
$ultraviolet: #5F4B8B;

$blue: #032E57;
$darkblue: #173159;
$blue-alt: #0A4777;
$blue-light: #C2D3E3;
$grey: #666666;

//Ultimate Tag
$ultimategray: #E5E4E2;
$ultimatered: #EB0000;
$ultimateblack: #131414;
